.form {
    display: flex;
    flex-direction: column;
    height: 30rem;
}

.header {
    margin-bottom: 2rem;
}

label {
    text-align: start;
    margin-top: 1em;
    font-size: medium;
}

input {
    margin-top: 1rem;
    border-radius: 0.3em;
    border: 0.01em solid gray;
}

.error {
    color: red;
    margin: 0;
    font-weight: 400;
}

.button {
    margin-top: 2rem;
    background-color: pink;
}

.switch {
    width: min-content;
    height: min-content;
}