.input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sort {
    display: flex;
}

.select {
    border-radius: 0.65em;
    border-width: 1px;
    text-align: center;
    margin-right: 0.5em;
    margin-Left: 0.5em;
    width: 7em;
}

.sortBtn {
    margin-left: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-left: 0.5em;
}