.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.dispPriority {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.hidePriority {
    visibility: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    width: 10em;
}

.deleteBtn,
.editBtn,
.commentToggleBtn {
    margin: 0;
    padding: 0.5em 0;
    font-weight: 900;
    background-color: transparent;
    border: none;
    transition: transform .2s;
}

.deleteBtn:hover,
.editBtn:hover,
.commentToggleBtn:hover {
    border: none;
    transform: scale(1.2);
}

.commentTitle {
    text-decoration: underline overline;
    font-weight: bold;
    color: rgb(91, 91, 91);
}

.commentsList {
    line-height: 0.5em;
}

.commentBox {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 4em;
}

.input {
    border-radius: 0.65em;
    border-width: 1px;
    text-align: center;
    margin-right: 0.5em;
    margin-Left: 0.5em;
    width: 16.5em;
}

.priority {
    width: 8em;
    font-weight: 400;
}

.low {
    background: rgb(159, 255, 159);
}

.medium {
    background: rgb(255, 220, 156);
}

.high {
    background: rgb(255, 171, 171);
}

.dispPriority {
    border-radius: 80%;
    margin-right: 0.5em;
}

.addBtn {
    width: 3em;
    font-size: 0.9em;
    padding: 0;
    border-radius: 1em;
    background: rgb(255, 213, 220);
}

.addBtn:hover {
    background: rgb(180, 230, 255);
    border: none;
}